{% extends "index_reg.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}

	<div class="h5 modal-title text-center">
        <h4 class="mt-2">
            <div>
            	<h1>
            		Welcome {{ new_user.first_name }}!
            	</h1>
            </div>
            <span>
            	<p>Your account has been successfully created. Now you can
            		<a href="{% url 'login' %}" class="btn btn-primary btn-lg">log in</a>
            	</p>
            </span>
        </h4>
    </div>

{% endblock %}