{% extends "index_reg.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}

  	<form action="." method="post">
    	{# {{ user_form.as_p }} #}
    	{% csrf_token %}
    	{# <p><input type="submit" value="Create my account"></p> #}
  	
  		<div class="modal-body">
	        <h5 class="modal-title">
	            <h4 class="mt-2">
	                <div>Welcome,</div>
	                <span>It only takes a <span class="text-success">few seconds</span> to create your account</span>
	            </h4>
	        </h5>
	        <div class="divider row"></div>
	        <div class="form-row">
	            <div class="col-md-12">
	                <div class="position-relative form-group">
	                	<input name="username" maxlength="150" required id="id_username" placeholder="Name here..." type="text" class="form-control">
	                	<span class="helptext"></span>
	                </div>
	            </div>
	            <div class="col-md-12">
	                <div class="position-relative form-group">
	                	<input name="first_name" maxlength="30" required id="id_first_name" placeholder="First here..." type="text" class="form-control">
	                </div>
	            </div>
	            <div class="col-md-12">
	                <div class="position-relative form-group">
	                	<input name="email" maxlength="254" id="id_email" placeholder="Email here..." type="email" class="form-control">
	                </div>
	            </div>
	            
	            <div class="col-md-6">
	                <div class="position-relative form-group">
	                	<input name="password" required id="id_password" placeholder="Password here..." type="password" class="form-control">
	                </div>
	            </div>
	            <div class="col-md-6">
	                <div class="position-relative form-group">
	                	<input name="password2" required id="id_password2" placeholder="Repeat Password here..." type="password" class="form-control">
	                </div>
	            </div>
	        </div>
	        <div class="mt-3 position-relative form-check">
	        	<input name="check" id="exampleCheck" type="checkbox" class="form-check-input">
	        	<label for="exampleCheck" class="form-check-label">Accept our <a href="javascript:void(0);">Terms and Conditions</a>.</label>
	        </div>
    		<div class="divider row"></div>
	    	<h6 class="mb-0">Already have an account?
	    		<a href="{% url 'login' %}" class="text-primary">Sign in</a> | 
	    		<a href="{% url 'password_reset' %}" class="text-primary">Recover Password</a>
	    	</h6>
		</div>
    	<div class="modal-footer d-block text-center">
    	    <button type="submit" class="btn-wide btn-pill btn-shadow btn-hover-shine btn btn-primary btn-lg">Create Account</button>
    	</div>
    </form>

{% endblock %}
