{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <!-- {#<meta name="description" content="ArchitectUI HTML Bootstrap4 Dashboard Template">#} -->

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <link href="{% static 'main.87c0748b313a1dda75f5.css' %}" rel="stylesheet">
</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow">
        <div class="app-container">
            <div class="h-100 bg-plum-plate bg-animation">
                <div class="d-flex h-100 justify-content-center align-items-center">
                    <div class="mx-auto app-login-box col-md-8">
                        {# <div class="app-logo-inverse mx-auto mb-3"></div> #}
                        <div class="modal-dialog w-100 mx-auto">
                            <div class="modal-content">
                                {% block content %}
                                {% endblock %}
                            </div>
                        </div>
                        <div class="text-center text-white opacity-8 mt-3">Admin © ravshan.ismoilov77@gmail.com <br> +998 93 946 11 88</div>
                    </div>
                </div>
            </div>
        </div>
</div>
{# <script type="text/javascript" src="assets/scripts/main.87c0748b313a1dda75f5.js"></script> #}
<script type="text/javascript" src="{% static 'assets/scripts/main.87c0748b313a1dda75f5.js' %}"></script>

</body>
</html>
